@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Press+Start+2P&display=swap');
body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-direction: column; para deixar os elementos um abaixo do outro*/
    flex-direction: column;
    background-color: #302a38;
}

canvas {
    border: 3px solid #585858;
}

h1 {
    font-size: 16pt;
    font-family: 'Press Start 2P', cursive;
    color: rgb(108, 243, 203);
}